.pl-tileview-tile-root {
    float: left;
    width: 160px;
    height: 160px;
    padding: 16px;
}

.pl-tileview-tile-content {
    background-color: #0072C6;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    cursor: pointer;
}

.pl-span {
    height: 150px;
    width: 150px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

img {
    /* position: absolute; */
    border: none;
    max-width: 96px;
    min-width: 96px;
    padding: 26px;
    top: -0px;
    -webkit-tab-highlight-color: transparent;
}
  
.pl-tileview-tile-detailsBox {
    color: #fff;
    background-color: rgba(0,0,0,0.6 );
    position: absolute;
    width:150px; 
    height:150px; 
    top:100px; 
    left:0px;
}

.pl-noList {
    list-style-type: none;
}

.pl-tileview-tile-detailsListMedium {
    height: 150px;
    overflow: hidden;
    padding: 10px;
    padding-top: 6px;
    margin: 0px;
}

.pl-tileview-tile-tileMedium {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.pl-tileview-tile-tileMediumCollapsed {
    display: table-cell;
    height: 36px;
    overflow: hidden;
    vertical-align: bottom;
}

.pl-tileview-tile-tileMediumExpanded {
    display: table-cell;
    max-height: 52px;
    overflow: hidden;
}

.pl-tileview-tile-titleTextMediumCollapsed {
    font-size: 11pt;
    max-height: 36px;
    max-width: 130px;
    overflow: hidden;
}

.pl-tileview-tile-titleTextMediumExpanded {
    font-size: 11pt;
    max-height: 52px;
    max-width: 130px;
    overflow: hidden;
}

.pl-tileview-tile-descriptionMedium {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding-top: 15px;
}