<!-- <div class="row">
  <div class="col">
    <span class="ag-page-title">{{ reportTitle }}</span>
    <hr>
  </div>
</div> -->
<nav class="sp-nav">
  <a [routerLink]="['/']" class="sp-nav-btn">Home</a>
  <i class="material-icons sp-nav-icon">arrow_forward_ios</i>
  <a [routerLink]="['/subsite/' + pageUrl]" class="sp-nav-btn">{{ pageName }}</a>
  <i class="material-icons sp-nav-icon">arrow_forward_ios</i>
  <a href="#" class="sp-nav-btn-active btn disabled">{{ reportTitle }}</a>
</nav>
<div class="row">
    <div class="col h-100">
      <iframe id="rpframe" [src]="reportSrcUrl()" frameborder="0"></iframe>
    </div>
</div>
