.ag-page-title {
    font-size: 2.77em;
    font-weight: 200;
    color: #0072C6;
}
  
hr {
    margin-bottom: 25px;
    border-top-color: rgb(0,114,198);
}

.sp-nav {
    /* background-color: #f8f9fa; */
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(0,114,198);
    padding-left: 15px;
    /* margin-bottom: 15px; */
}

.sp-nav-icon {
    margin-left: -20px;
    padding: 17px 15px 10px 15px;
    color: #4d4d4d;
    font-size: 18px;
}

.sp-nav-btn {
    /* border-radius: 0px 50px 50px 0px; */
    padding: 10px 15px 5px 0;
    color: #4d4d4d;
    font-size: 1.2rem;
    font-weight: 400 !important;
}

.sp-nav-btn:hover {
    padding: 10px 15px 5px 0;
    color: #0056b3;
    font-size: 1.2rem;
    font-weight: 400 !important;
    text-decoration: none;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}


.sp-nav-btn-active {
    padding: 10px 15px 5px 0;
    color: #0072c6;
    font-size: 1.2rem;
    font-weight: 400 !important;
}



iframe {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#rpframe {
    min-height: 500px;
    min-width: 100%;
}
  